@import "./variables.scss";

body {
    font-family: 'Montserrat', sans-serif;
    background: $white-color;
    color: $white-color;
}

#root {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: auto;
    gap: 50px;

    @media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
        max-width: $breakpoint-tablet;
    }

    @media (min-width: 320px) and (max-width: $breakpoint-mobile) {
        max-width: 348px;
        gap: 27px;
    }
}