.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;

    @include mobile {
        justify-content: center;
        margin-top: 20px;
        gap: 26px;
    }

    &__logo {
        @include tablet {
            width: 180px;
        }

        @include mobile {
            width: 145px;
        }
    }
}