.gallery {
    background: $secondary-color;
    border-radius: 25px;
    padding: 56px 50px 43px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;

    @media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    @media (min-width: 320px) and (max-width: $breakpoint-mobile) {
        grid-template-columns: 1fr;
    }
}