.accommodation__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    @include mobile {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        margin-bottom: 14px;
    }

    &--infos {
        display: flex;
        flex-direction: column;
        color: $primary-color;

        @include mobile {
            width: 98%;
        }

        h1 {
            @include font(500, 2.25rem);
            line-height: 142.6%;

            @include tablet {
                @include font(500, 1.5rem);
            }

            @include mobile {
                @include font(500, 1.125rem);
                margin-bottom: 5px;
            }
        }

        p {
            @include font(500, 1.125rem);
            line-height: 142.6%;
            margin-bottom: 20px;

            @include tablet {
                @include font(500, 1rem);
                margin-bottom: 15px;
            }

            @include mobile {
                @include font(500, 0.875rem);
                margin-bottom: 10px;
            }
        }

        .accommodation__tags {
            display: flex;
            align-items: center;
            gap: 10px;

            @include mobile {
                flex-wrap: wrap;
            }

            li {
                background: $primary-color;
                border-radius: 10px;
                color: $white-color;
                @include font(500, 0.875rem);
                line-height: 142.6%;
                padding: 3px 30px;

                @include tablet {
                    @include font(500, 0.75rem);
                }

                @include mobile {
                    @include font(500, 0.625rem);
                }
            }
        }
    }

    &--hosting {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: $primary-color;

        @include mobile {
            flex-direction: row-reverse;
            gap: 123px;
        }

        .accommodation__host {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            text-align: center;
            gap: 5px;

            p {
                @include font(500, 1.125rem);
                line-height: 142.6%;
                width: 50%;

                @include tablet {
                    @include font(500, 1rem);
                }

                @include mobile {
                    @include font(500, 0.75rem);
                }
            }

            img {
                height: 64px;
                border-radius: 50%;

                @include tablet {
                    height: 48px;
                }

                @include mobile {
                    height: 32px;
                }
            }
        }
    }
}

.accommodation__collapse {
    display: flex;
    gap: 76px;
    
    @include tablet {
        flex-direction: column;
        gap: 0px;
    }

    @include mobile {
        flex-direction: column;
        gap: 0px;
    }

    .collapse__dropdown {
        width: 100%;

        &--menu {
            width: 93%;
            border-radius: 10px;

            @include tablet {
                width: 95%;
            }
        }

        &--title {
            @include font(500, 1.125rem);

            @include mobile {
                @include font(500, 0.813rem);
            }
        }

        &--content {
            width: 93%;

            @include tablet {
                width: 95%;
            }

            @include mobile {
                width: 86%;
            }
        }
    }

    .collapse__dropdown:nth-child(2) {
        .collapse__dropdown--content {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }
}