@import "../../../utilities/variables.scss";
@import "../../../utilities/mixins.scss";

.navbar {
    display: flex;
    color: $primary-color;
    text-align: right;
    @include font;
    line-height: 142.6%;

    @include tablet {
        @include font(500, 1.3rem);
    }

    @include mobile {
        @include font(500, 0.8rem);
        text-transform: uppercase;
    }

    &__links {
        display: flex;
        gap: 57px;

        @include tablet {
            gap: 45px;
        }

        @include mobile {
            gap: 26px;
        }

        a {
            color: $primary-color;
            text-decoration: none;

            &.navbar__links--active {
                text-decoration: underline;
            }
        }
    }
}